@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {box-sizing: border-box;}
    
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .topnav {
      overflow: hidden;
      background-color: #e9e9e9;
    }
    
    .topnav a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .topnav a.active {
      background-color: #2196F3;
      color: white;
    }
    
    .topnav .search-container {
      float: right;
    }
    
    .topnav input[type=text] {
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
    }
    
    .topnav .search-container button {
      float: right;
      padding: 6px 10px;
      margin-top: 8px;
      margin-right: 16px;
      background: #ddd;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }
    
    .topnav .search-container button:hover {
      background: #ccc;
    }
    
    @media screen and (max-width: 600px) {
      .topnav .search-container {
        float: none;
      }
      .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
      }
      .topnav input[type=text] {
        border: 1px solid #ccc;  
      }
    }
*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  background: #f5f6fa;
}

.wrapper .sidebar{
  background: rgb(5, 68, 104);
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-track {
background: #eee;

border-radius:8px;
}
::-webkit-scrollbar-thumb {
background: #cccbcb;
}
.wrapper .sidebar .profile{
  margin-bottom: 10px;
  text-align: center;
}

.wrapper .sidebar .profile img{
  display: block;
  width: 60px;
  height: 60px;
    border-radius: 70%;
  margin: 0 auto;
}

.wrapper .sidebar .profile h3{
  color: #ffffff;
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
  color: rgb(206, 240, 253);
  font-size: 14px;
}

.wrapper .sidebar ul li a{
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.wrapper .sidebar ul li a .icon{
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

 

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  color: #0c7db1;

  background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
  color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
}

.wrapper .section{
  width: calc(100% - 225px);
  margin-left: 225px;
  transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
  background: rgb(7, 105, 185);
  height: 0px;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.wrapper .section .top_navbar .hamburger a{
  font-size: 0px;
  color: #a2ecff;
}

.wrapper .section .top_navbar .hamburger a:hover{
  color: #a2ecff;
}

 .wrapper .section .container{
  margin: 0px;
  background: #fff;
  padding: 0px;
  line-height: 0px;
}

body.active .wrapper .sidebar{
  left: -225px;
}

body.active .wrapper .section{
  margin-left: 0;
  width: 100%;
}


#map {
  width: 80%;
  height: 10px;
  background: white;
  margin-bottom: 10px;
}

#panel {
  width: 80%;
  height: 10px;
  margin-bottom: 10px;
}

#panel .section{
  width: calc(100%);
  margin-left: 225px;
  margin-bottom: 0px;
  transition: all 0.5s ease;
}


.boton1 {
  border: 0px solid #2e518b; /*anchura, estilo y color borde*/
  padding: 0px; /*espacio alrededor texto*/
  background-color: #2e518b; /*color bot贸n*/
  position: absolute;
  top:50%;
  background-color:#0a0a23;
  color: #fff;
  border:none; 
  border-radius:2px; 
  padding:2px;
  min-height:5px; 
  min-width: 20px;
}

.boton2 {
  border: 0px solid #2e518b; /*anchura, estilo y color borde*/
  padding: 0px; /*espacio alrededor texto*/
  background-color: #2e518b; /*color bot贸n*/
  position: absolute;
  top:50%;
  background-color:#0a0a23;
  color: #fff;
  border:none; 
  border-radius:2px; 
  padding:2px;
  min-height:5px; 
  min-width: 20px;
}


.boton3 {
  border: 0px solid #2e518b; /*anchura, estilo y color borde*/
  padding: 0px; /*espacio alrededor texto*/
  background-color: #2e518b; /*color bot贸n*/
  position: absolute;
  top:50%;
  background-color:#0a0a23;
  color: #fff;
  border:none; 
  border-radius:2px; 
  padding:2px;
  min-height:5px; 
  min-width: 20px;
}

.boton {
  border: 0px solid rgb(5, 68, 104); /*anchura, estilo y color borde*/
  padding: 0px; /*espacio alrededor texto*/
  background-color:  rgb(5, 68, 104); /*color bot贸n*/
  position: right;
  top:100%;
  background-color: rgb(5, 68, 104);
  color: #fff;
  border:none; 
  border-radius:2px; 
  padding:2px;
  min-height:5px; 
  min-width: 20px;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color:#0a0a23;
    position: bottom;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
}

.navbar a {
  float: right;
  display: block;
  color: #0a0a23;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color:  rgb(5, 68, 104);
  color: white;
}

.main {
  padding: 0 ppx;
  margin-bottom: 0px;
}

.boton7 {
  border: 0px solid #2e518b; /*anchura, estilo y color borde*/
  padding: 0px; /*espacio alrededor texto*/
  position: left;
  top:30%;
  background-color:#04AA6D;
  color: #fff;
  border:none; 
  border-radius:2px; 
  padding:2px;
  min-height:5px; 
  min-width: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
}

#map {
  width: 100%;
  height: 550px;
  background: grey;
  margin-bottom: 0px;
}

#panel {
  width: 100%;
  height: 550px;
  margin-bottom: 0px;
}
.button5 {
position: left;
top:50%;
background-color:#0a0a23;
color: #fff;
border:none; 
border-radius:2px; 
padding:3px;
min-height:5px; 
min-width: 5px;
}    
.button6 {
position: left;
top:50%;
background-color:#0a0a23;
color: #fff;
border:none; 
border-radius:2px; 
padding:3px;
min-height:5px; 
min-width: 20px;
}    
#instructions{
  float:right; 
  width: calc(90vw - 200px);
}
.sidebar{
  
}